.git
.env
.env.*
env
**/.DS_Store
**/node_modules
**/vendor
web/wp
web/app/uploads
web/app/cache
web/app/upgrade
web/app/themes/twentytwentyfive
web/app/themes/remote-leverage/public
*.log
*.md
doc
plan.md
.github
